<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid contenidonav">
        <a class="navbar-brand" routerLink="/admin/dashboard"><img id="MDB-logo"
                src=".\assets\images\EmprendeSAC_Logo-pequeño.png" alt="MDB Logo" draggable="false" height="30" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/dashboard">{{"inicio"|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/prestamos">Prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/evaluacion-credito">Evaluacion Clientes</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-danger" (click)="adminlogout()">{{"salir"|translate}}</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

  