<style>
  .container {
    margin-top: 50px;
  }

  .saludo {
    text-align: center;
  }

  .resumen {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 30px;
  }

  @media (min-width: 768px) {
    .saludo {
      margin-bottom: 50px;
    }

    .resumen {
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .resumen li {
      font-size: 1.2rem;
    }

    .col-md-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    min-height: 100%;
  }

  .elemento {
    width: 40%;
    /* ancho deseado del elemento */
    max-width: 300px;
    /* ancho máximo para pantallas grandes */
    min-width: 200px;
    text-align: center;
  }

  section {
    min-height: 350px;
    flex-grow: 1;
  }

  .col-md-12 {
    text-align: center;
    /* opcional, para centrar horizontalmente el contenido */
  }

  img{
    max-height: 130px;
  }
</style>

<app-ventana-infocliente></app-ventana-infocliente>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ 'bienvenido' | translate }}, {{ user.cliente.nombre }} {{ user.cliente.apellido }}!</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <section class="resumen">
        <div id="DivPrestamos" *ngIf="hayPrestamos; else noHayPrestamos">
          <h4>{{ 'resumen_label' | translate }}:</h4>
          <p>{{ 'prestamo_label' | translate }}: {{ prestamoMayor.monto_prestamo }}</p>
          <div class="contenedor">
            <div class="elemento">
              <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType"></canvas>
            </div>
            <button class="btn btn-primary" routerLink="/prestamos">{{ 'prestamos' | translate }}</button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="resumen">
        <h4>{{ 'evaluacion_label' | translate }}:</h4>
        <p>{{ 'descripcion_evaluacion_label' | translate }}</p>
        <div class="contenedor">
          <img src=".\assets\images\evaluacion-crediticia.jpg" class="img-fluid" alt="">
          <p>{{ 'inicia_evaluacion' | translate }} {{ 'link_evaluacion_label' | translate }}</p>
          <button class="btn btn-primary" (click)="handleButtonClick()">{{ 'evaluacion_label' | translate }}</button>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #noHayPrestamos>
  <p>{{ 'no_prestamos_label' | translate }}</p>
</ng-template>